td {
    padding-left: 3px;
    padding-right: 3px;
}

td.ongoing-column {
    text-align: center;
}

th {
    text-align: left;
    padding: 3px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    margin: 3px;
}