<div class="back-container">
    <button mat-flat-button color="accent" routerLink="../">
        <img class="back-arrow-img" src="../../../../assets/arrow_back_FILL0_wght400_GRAD0_opsz24.png" alt="back_button">
        <span class="back-arrow">Back</span>
    </button>
</div>
<h2>Add Series</h2>
<div class="form-container">
    <mat-card>
        <mat-card-header>Add series</mat-card-header>
        <mat-card-content>
            <mat-card>
                <mat-card-header>Series info</mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline" class="pink-backgrounded-field">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" placeholder="Enter series title..." [formControl]="titleFormControl" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pink-backgrounded-field">
                        <mat-label>Start Date</mat-label>
                        <input matInput type="date" [formControl]="startDateControl" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pink-backgrounded-field">
                        <mat-label>End Date</mat-label>
                        <input matInput type="date" [formControl]="endDateControl">
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>Author info (if author goes by a mononym, treat that as Family Name)</mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline" class="pink-backgrounded-field">
                        <mat-label>Family Name</mat-label>
                        <input matInput type="text" placeholder="Enter family name..." [formControl]="familyNameControl" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pink-backgrounded-field">
                        <mat-label>Given Name</mat-label>
                        <input matInput type="text" placeholder="Enter given name..." [formControl]="givenNameControl">
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card >
                <div class="flex-container">
                    <mat-card-header class="tag-header">Tags</mat-card-header>
                    <mat-slide-toggle labelPosition="before" [(ngModel)]="showSensitiveTags">Show sensitive tags</mat-slide-toggle>
                </div>
                <mat-card-content>
                    <reader-tag-select [displaySensitiveTags]="showSensitiveTags" (selectedTagsChangeEvent)="updateTags($event)"></reader-tag-select>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <mat-card-actions>
            <span>
                <button mat-flat-button id="confirm-button" color="accent" (click)="saveSeries()">Add</button>
            </span>
        </mat-card-actions>
    </mat-card>
</div>
<div>{{submitValidationMessage}}</div>
<br/>
<br/>
<div *ngIf="submittedSeries">
    <h2><i>{{submittedSeries.title}}</i> Details:</h2>
    <div><b>Title:</b> {{submittedSeries.title}}</div>
    <div><b>Author:</b> {{submittedSeries.authors[0].firstName + ' ' + submittedSeries.authors[0].lastName}}</div>
    <div><b>Is Ongoing:</b> {{submittedSeries.isOngoing}}</div>
    <div><b>Tags:</b> {{getTagsList()}}</div>
</div>