/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color:#FFE5EC;
}
:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

.pink-backgrounded-field .mdc-text-field--outlined .mdc-notched-outline {
  z-index: 0
}

.pink-backgrounded-field .mdc-notched-outline__notch,
.pink-backgrounded-field .mdc-notched-outline__leading,
.pink-backgrounded-field .mdc-notched-outline__trailing {
  background-color: #FFE5EC;
}

/* button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }